<div class="row">
    <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">{{ titleForm }}</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="dataForm">
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Código</label>
                <input type="text" maxlength="10" maxlength="10" [maxlength]="10" [maxLength]="10" formControlName="codigo" class="form-control" placeholder="Código">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Tipo</label>
                <input type="text" formControlName="tipo" class="form-control" placeholder="Tipo">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Canal</label>
                <input type="text" formControlName="canal" class="form-control" placeholder="Canal">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Plantilla</label>
                <ckeditor
                  [(ngModel)]="valueContentCorreo"
                  #ckeditor1
                  name="ckeditor1"
                  required
                  [config]="ckeConfig"
                  debounce="500"
                  (blur)="preview($event)">
            </ckeditor>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="button" class="btn btn-primary btn-round" *ngIf="this.action == 'add'" (click)="createRegistro()">Agregar</button>
              <button type="button" class="btn btn-primary btn-round" *ngIf="this.action == 'edit'" (click)="editRegistro()">Actualizar</button>
              <button type="button" class="btn btn-primary btn-round" (click)="viewCards()">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Preview</h5>
      </div>
      <div class="card-body">
        <form>
           
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" style="padding: 20px; background: #e5e5e5;">
                <div
                  style="border: 1px solid #ccc; background: white; padding: 10px;"
                  [innerHTML]="htmlPreview">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
