<full-calendar [options]="calendarOptions" style="background-color: #FFFFFF;">
  <!--<ng-template #dayCellContent let-arg>
    <div class="dia-container">
      <div *ngFor="let doc of doctores"
           class="doctor-card"
           (click)="abrirModal(doc, arg.dateStr)">
        <img [src]="doc.foto">
        <div class="info">
          <strong>{{ doc.nombre }}</strong>
          <span>{{ doc.especialidad }}</span>
          <i class="fa fa-plus-circle"></i>
        </div>
      </div>
    </div>
  </ng-template>-->
</full-calendar>
